 {# Page d'affichage du menu pour le restaurateur #}
{% extends "base.html.twig" %}

{% block title %}Edition du menu{% endblock %}

{% block body %}
    <h1>Logo resto - espace restaurateur</h1>
    <h2>navbar (loupe, sections)</h2>
    <h3>Titre section</h3>
    <div>Fiches</div>
{% endblock %}
